body {
	padding: 0;
	margin: 0;
	background-color: #15af55;
}

.wrapper {
	width: 800px;
	margin: 30px auto;
	color: white;
	text-align: center;

}

#seconds,
#tens {
	font-size: 2em;
}

h1,
h2,
h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 2.4em;
	text-transform: uppercase;
}

button {
	background: #28C4E0;
	color: black;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	font-size: 1.4em;
	padding: 18px 10px;
	width: 180px;
	margin: 10px;
}